<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
	<%= csrf_meta_tag %>
  </head>
  <body>

<%= yield %>

</body>
</html>
